APP_PORT=3000
APP_URL=http://localhost:4200
APP_NAME='Sistema de ...'
APP_SHORT_NAME='Sistema'
APP_VERSION='1.0.0'
APP_ENV=local

JWT_SECRET=ABC
JWT_REFRESH_SECRET=XYZ
JWT_EXPIRES='1h' #'10s' | '15m' | '1h' | '7d'
JWT_REFRESH_EXPIRES='7d' #'10s' | '15m' | '1h' | '7d'

MAX_ATTEMPTS='5' #numero de intentos para que se bloque el usuario
SECURITY_CODE_EXPIRES_IN='10' #tiempo de expiracion de los codigos de seguridad

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=app_db

MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_SECURE=false
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS=noreply@midominio.com
MAIL_FROM_NAME="${APP_NAME}"

BUCKET_ENDPOINT=http://localhost
BUCKET_PORT=8333
BUCKET_ACCESS_KEY=admin
BUCKET_SECRET_KEY=root1234
BUCKET_NAME=my_bucket
BUCKET_PRESIGNED_EXPIRY='5' #tiempo de expiracion del archivo en minutos
BUCKET_REGION=us-east-1

URL_LDAP=http://localhost:3000/api/v1/external-apis
URL_DINARDAP=http://localhost:3000/api/v1/external-apis
URL_INTERNO=http://localhost:3000/api/v1/external-apis
