<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .header {
            background-repeat: no-repeat;
        }

        .footer {
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Estimado/a.</h3>

            <h3>{{data.user.name}}</h3>

            <p>Le damos la bienvenida al Sistema Informático Ecuatorianos en Acción.</p>

            <p>Usted ha aceptado nuestros términos y condiciones:</p>

            <br>

            <p>
                <b>Saludos Cordiales,</b>
            </p>

            <br>

            <p>
                <b>Sistema Informático Ecuatorianos en Acción</b>
            </p>
        </div>
    </div>
    <div>
        <img class="footer" src="cid:footer" alt="" width="200px">
    </div>
</div>
</body>

</html>
