<!-- Footer -->
<!--<p class="email-footer-greet">-->
<!--  ------------------------------------------------->
<!--  <br />-->
<!--  Saludos cordiales,-->
<!--  <br />-->
<!--  <br />-->
<!--  El equipo de <strong>{{system.name}}</strong>-->
<!--</p>-->

<div class="email-footer">
  <a href="{{system.url}}">
    <p>
      © {{year}} {{system.name}}, Todos los derechos reservados
    </p>
  </a>
</div>
