<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    <link href="http://localhost:3000/css/bootstrap.min.css" rel="stylesheet">-->
    <title>Document</title>
    <style>
        .header {
            background-repeat: no-repeat;
        }

        .footer {
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Estimado/a.</h3>

            <h3>{{data.rucs}}</h3>

            <p>Reciba un cordial saludo.</p>

            <p>Notificamos que su código es:</p>
        </div>
    </div>
</div>
</body>
</html>
